<h1>Sign In</h1>

<%= form_with url: sessions_path, method: :post do |f| %>
    <%= f.collection_select :username, User.all, :id, :username, prompt: true %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Sign In" %>
<% end %>