<div class="container">
  <h1>Sign Up</h1>

  <%= render 'form' %>

  <h2>OR</h2>

  <%= link_to '/auth/google_oauth2', method: :post do %>
      <%= image_tag 'signin_google2.png' %>
  <% end %> 
</div>