<div class="container">
    <div class="d-flex  justify-content-center align-items-center">
        <h1>Teacher's Pet</h1>
        <%= image_tag 'teaching.gif' %>
        <h6>Personal Student Organizer for Tutors and SPED Instructors</h6>
    </div>
</div>
