<div class="d-flex justify-content-center">  
  <h1>Create a new Lesson</h1>
</div>

<div class="d-flex justify-content-center">  
  <%= render 'form' %>
</div>

<%# <div class="d-flex justify-content-center">  
  <%= link_to "Back to Course", course_path(Course.find_by(id: params[:course_id])) %>
