  
<div class="container">

  <div class="d-flex  justify-content-center">
    <h1>New Course</h1>
  </div>

  <div class="d-flex  justify-content-center">
    <%= render 'form' %>
  </div>

  <div class="d-flex  justify-content-center">
    <%= link_to "Need to register a new student?", new_student_path %>
  </div>

</div>
